<div class="dashboard-container">
    <div class="content">
      <nav class="sidebar">
        <ul>
          <li *ngFor="let item of menuItems">
            <a [routerLink]="item.link">
              <span>{{ item.name }}</span>
            </a>
          </li>
          <!-- Mostrar imagen solo si currentUser no es null -->
          <li *ngIf="currentUser">
            <div class="user-info">
              <img [src]="currentUser?.avatar || 'app/dashboard/default-avatar.png'" alt="User Avatar" class="avatar" />
            </div>
            <!-- Botón para cerrar sesión -->
            <button (click)="logout()">Cerrar sesión</button>
          </li>
        </ul>
      </nav>
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  