.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Poppins', sans-serif; /* Fuente moderna */
  background-color: #f8f9fa;
}


.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background: linear-gradient(135deg, #1B8AF1, #B58DED);
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 3.5rem;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 10px;
  letter-spacing: 0.5px;
}

.sidebar span {
  margin-left: 25px;
}

.sidebar a:hover {
  background-color: #4545db; /* Un púrpura más oscuro */
  color: #fffbf0; /* Blanco cálido */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave al hacer hover */
}

main {
  flex: 1;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  overflow-y: auto;
  background: linear-gradient(180deg, #ffffff, #f8f9fa); /* Fondo degradado para dar más profundidad */
}


